.veSlider {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}
.veSlider > li {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  overflow: hidden;
  height: inherit;
}